Apuntes/Ejemplo 1 SOAP Servidor y Cliente Node/service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <!-- Definicion de los tipos -->
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="MessageSplitterRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="message" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="splitter" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MessageSplitterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="unbounded" name="result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <!-- Definicion de los mensajes -->
  <wsdl:message name="MessageSplitterSoapIn">
    <wsdl:part name="parameters" element="tns:MessageSplitterRequest"/>
  </wsdl:message>
  <wsdl:message name="MessageSplitterSoapOut">
    <wsdl:part name="parameters" element="tns:MessageSplitterResponse"/>
  </wsdl:message>
  <!-- Definicion de portType -->
  <wsdl:portType name="MessageSplitterSoapPort">
    <wsdl:operation name="MessageSplitter">
      <wsdl:documentation>Funcion 1</wsdl:documentation>
      <wsdl:input message="tns:MessageSplitterSoapIn"/>
      <wsdl:output message="tns:MessageSplitterSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <!-- Definicion del binding SOAP -->
  <wsdl:binding name="MessageSplitterServiceSoapBinding" type="tns:MessageSplitterSoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="MessageSplitter">
      <soap:operation soapAction="MessageSplitter" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <!-- Definicion del binding SOAP 1.2 -->
  <wsdl:binding name="MessageSplitterServiceSoap12Binding" type="tns:MessageSplitterSoapPort">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="MessageSplitter">
      <soap12:operation soapAction="MessageSplitter" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <!-- Definicion del servicio -->
  <wsdl:service name="MessageSplitterService">
    <wsdl:port name="MessageSplitterServiceSoapPort" binding="tns:MessageSplitterServiceSoapBinding">
      <soap:address location="http://localhost:8000/wsdl"/>
    </wsdl:port>
    <wsdl:port name="MessageSplitterServiceSoap12Port" binding="tns:MessageSplitterServiceSoap12Binding">
      <soap12:address location="http://localhost:8000/wsdl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>